:root {
    --verde-1: #757A72;
    --verde-2: #9DA697;
    --blanco-1: #F2F2F2;
    --gris-1: #262626;
    --negro-1: #0D0D0D;
}

/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--blanco-1);
  color: var(--negro-1);
  text-align: center;
}

header {
    background-color: var(--verde-2);
    color: var(--gris-1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 1px;
    text-align: center;
    margin-bottom: 10px;
}
main {
    min-height: 600px;
}

button {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--verde-2);
  border: solid 3px var(--verde-1);
  font-family: inherit;
  margin-top: 30px;
  width: 65%;
  justify-items: center;
}

.default-btn,
.hover-btn {
  background-color: var(--verde-2);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px 35px;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  
}

.hover-btn {
  position: absolute;
  justify-content: center;
  inset: 0;
  background-color: var(--blanco-1);
  transform: translate(0%, 100%);
}
.hover-btn span img {
    width: 60px;
}

.default-btn span {
  color: var(--negro-1);
}

.hover-btn span {
  color: var(--gris-1);
}

button:hover .default-btn {
  transform: translate(0%, -100%);
}

button:hover .hover-btn {
  transform: translate(0%, 0%);
}


footer {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gris-1);
    background-color: var(--verde-2);
    margin: 0;
    margin-top: 1rem;
    padding: 1px;
}