@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Raleway&family=Roboto&display=swap');

:root {
  --verde-1: #757a72;
  --verde-2: #9da697;
  --verde-3:rgba(171, 180, 165, 0.479);
  --blanco-1: #f2f2f2;
  --gris-1: #262626;
  --negro-1: #0d0d0d;

  --fuente-lora: "Lora", "Noto Serif", "serif";
}

/* Estilos globales */
body {
  font-family: var(--fuente-lora);
  margin: 0;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  /* background-color: var(--blanco-1); */
  color: var(--negro-1);
  text-align: center;
  background-image: url("../images/fondo-22.png");
}

header {
  background-color: var(--verde-2);
  color: var(--gris-1);
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: var(--fuente-lora);
  font-size: 1rem;
  margin: 0;
  padding: 1px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
main {
  min-height: 750px;
}

button {
  position: relative;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: var(--verde-2);
  border: solid 3px var(--verde-1);
  font-family: inherit;
  margin-top: 30px;
  width: 65%;
  justify-items: center;
}

.default-btn,
.hover-btn {
  background-color: var(--verde-2);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 25px 35px;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.hover-btn {
  position: absolute;
  justify-content: center;
  inset: 0;
  background-color: var(--blanco-1);
  transform: translate(0%, 100%);
}
.hover-btn span img {
  width: 60px;
}

.default-btn span {
  color: var(--negro-1);
}

.hover-btn span {
  color: var(--gris-1);
}

button:hover .default-btn {
  transform: translate(0%, -100%);
}

button:hover .hover-btn {
  transform: translate(0%, 0%);
}

.contact {
  margin-top: 50px;
  margin-bottom: 10px;
}
.contact a {
  background-color: var(--verde-2);
  color: var(--negro-1);
  text-decoration: none;
  font-family: var(--fuente-lora);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--negro-1);
}
.contact a:hover {
  text-decoration: underline;
}

#first-img {
  max-width: 90vw;
  border-radius: 10px;
  margin: 25px 0;
}

footer {
  font-family: var(--fuente-lora);
  color: var(--gris-1);
  background-color: var(--verde-2);
  margin: 0;
  margin-top: 1rem;
  padding: 1px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}


.info {
  margin: 0 15px;
  justify-self: center;
  width: 75%;
  color: var(--negro-1);
  border: 1px solid var(--verde-1);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 0 10px;
  text-align: left;
}
.info h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--gris-1);
}
.info span {
  font-weight: bold;
}
#cordoba {
  font-style: italic;
}
.info a {
  font-style: italic;
  color: var(--gris-1);
}

nav {
  padding: 0.5rem 0; 
  justify-content: space-evenly;
  display: flex;
}
nav a {
  padding: 10px;
  font-weight: bold;
  margin: 0;
  border: 1px solid var(--gris-1);
  border-radius: 5px;
  text-decoration: none;
  color: var(--negro-1);
  background-color: var(--verde-3);
}
nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}


/* TEMPLO */
#templo-section, #fotos-section, #regalos-section {
  text-align: left;
  margin: 0;
  justify-content: center;
  justify-items: center;
}
#fotos-section{
  text-align: center;
}
.italica {
  font-style: italic;
}
#templo-info {
  text-align: center;
}
section img {
  max-width: 90vw;
  border-radius: 10px;
  margin: 25px 0;
}
iframe {
  border-radius: 10px;
}
#direc-templo {
  color: var(--negro-1);
}

/* FOTOS */
#fotos-section {
  justify-items: center;
}
#album-link {
  align-items: center;
  display: flex;
}
#album-link a {
  color: var(--negro-1);
  padding-left: 10px;
}
#album-img {
  width: 80px;
  text-decoration: none;
  border-radius: 10px;
}

/* REGALOS */
#meme {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
  justify-items: center;
  align-items: center;
}
#meme-img {
  width: 150px;
  grid-column: 1;
  grid-row: 1;
}
#meme p{
  grid-row: 1;
  grid-column: 2/4;
}
#meme iframe {
  grid-row: 2;
  grid-column: span 3;
}
#transferencias section {
  padding: 0 50px;
  text-align: left;
}
hr {
  border: 1px solid var(--verde-1);
}